<appSettings>
  <clear />
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!-- Site Settings -->
  <add key="Site-Enable-SSL" value="true"/>
  <add key="Site-Enable-Cache" value="true"/>
  <add key="Site-Title" value="Wish of Rockaway"/>
  <add key="Site-Application-Id" value="547E6064-4BA3-47A0-A408-53A10C68D860"/>
  <add key="Site-Url" value="https://rockawaywish.org-local"/>

  <!-- Site API Settings -->
  <add key="Site-Api-Url" value="https://games-api.tiradointeractive.com"/>
  <add key="Site-Api-Key-Enable" value="true"/>
  <add key="Site-Api-Key" value="719b603a-a2ac-4373-a069-c0d20c29843a"/>

  <!-- Membership Api Settings -->
  <add key="Membership-Api-Url" value="https://interactivemembership-api-local.tiradointeractive.com"/>
  <add key="Membership-Api-Key-Enable" value="true"/>
  <add key="Membership-Api-Key" value="719b603a-a2ac-4373-a069-c0d20c29843a"/>

  <!-- CMS Application Settings -->
  <add key="Cms-Url" value="https://games-cms.tiradointeractive.com/umbraco/api"/>
  <add key="Cms-Api-Url" value="https://games-cms.tiradointeractive.com/umbraco/api"/>
  <add key="Cms-Api-Key-Enable" value="false"/>
  <add key="Cms-Api-Key" value="asd*2lH@klj234^2902f4RjSSP2K2Ewk3jk23"/>
  <add key="Cms-Site-Title" value="Tirado Interactive"/>
  <add key="Cms-SSL-Enable" value="false"/>
  <add key="Cms-Cache-Enable" value="false"/>

  <!-- Membership Admin Settings -->
  <add key="Membership-Admin-Url" value="https://interactivemembership.tiradointeractive.com"/>
  <add key="Membership-Admin-Site-Title" value="Wish of Rockaway Administration"/>
  <add key="Membership-Admin-Name" value="Wish of Rockaway Administration"/>
  <add key="Membership-Admin-Email" value="richie@tiradointeractive.com"/>
  <add key="Membership-Admin-Key" value="02772dae-371e-40e8-b8fc-afed0cde9c24"/>
  <add key="Membership-Admin-Application-Id" value="02772dae-371e-40e8-b8fc-afed0cde9c24"/>

  <!-- Global Asset Settings -->
  <add key="Site-Logo-Url" value="~/Content/img/bone-spinner-small.gif"/>
  <add key="Site-Loading-Image-Url" value="~/Content/img/bone-spinner-small.gif"/>

  <!-- Notification Settings -->
  <add key="Site-Notification-Name-Admin" value="Wish of Rockaway Administration"/>
  <add key="Site-Notification-Email-Admin" value="richie@tiradointeractive.com"/>
  <add key="Site-Notification-Enable-Admin" value="true"/>
  <add key="Site-Notification-Subject-Admin" value="Test Notification subject for {0} to admin"/>
  <add key="Site-Notification-Message-Admin" value="Test Notification message for {0} to admin."/>
  <add key="Site-Notification-Enable-User" value="true"/>
  <add key="Site-Notification-Subject-User" value=""/>
  <add key="Site-Notification-Message-User" value=""/>

  <!-- Error Settings -->
  <add key="Site-Error-Url" value="https://rockawaywish.org-local/error"/>
  <add key="Site-Error-Notification-Enable-Admin" value="true"/>
  <add key="Site-Error-Notification-Subject-Admin" value="Test Error Notification subject for {0} to admin"/>
  <add key="Site-Error-Notification-Message-Admin" value="Test Error Notification message for {0} to admin."/>
  <add key="Site-Error-Notification-Enable-User" value="true"/>
  <add key="Site-Error-Notification-Subject-User" value="Test Error subject for {0} to user"/>
  <add key="Site-Error-Notification-Message-User" value="Test Error notification message for {0} to user."/>

  <!-- Login Settings -->
  <add key="Site-Login-Url" value="https://rockawaywish.org-local/users/sign/in"/>
  <add key="Site-Login-Notification-Enable-Admin" value="true"/>
  <add key="Site-Login-Notification-Subject-Admin" value=""/>
  <add key="Site-Login-Notification-Message-Admin" value=""/>
  <add key="Site-Login-Notification-Enable-User" value="true"/>
  <add key="Site-Login-Notification-Subject-User" value=""/>
  <add key="Site-Login-Notification-Message-User" value=""/>

  <!-- Registration Settings -->
  <add key="Site-Registration-Url" value="https://rockawaywish.org-local/users/register"/>
  <add key="Site-Registration-Notification-Enable-Admin" value="true"/>
  <add key="Site-Registration-Notification-Subject-Admin" value=""/>
  <add key="Site-Registration-Notification-Message-Admin" value=""/>
  <add key="Site-Registration-Notification-Enable-User" value="true"/>
  <add key="Site-Registration-Notification-Subject-User" value=""/>
  <add key="Site-Registration-Notification-Message-User" value=""/>

  <!-- Activation Settings -->
  <add key="Site-Activation-Url" value="https://rockawaywish.org-local/users/activate/?aId={0}&amp;sD={1}&amp;tP={2}"/>
  <add key="Site-Activation-Notification-Enable-Admin" value="true"/>
  <add key="Site-Activation-Notification-Subject-Admin" value=""/>
  <add key="Site-Activation-Notification-Message-Admin" value=""/>
  <add key="Site-Activation-Notification-Enable-User" value="true"/>
  <add key="Site-Activation-Notification-Subject-User" value=""/>
  <add key="Site-Activation-Notification-Message-User" value=""/>

  <!-- Forgot Password Settings -->
  <add key="Site-Forgot-Password-Url" value="https://rockawaywish.org-local/users/forgot/password"/>
  <add key="Site-Forgot-Password-Notification-Enable-Admin" value="true"/>
  <add key="Site-Forgot-Password-Notification-Subject-Admin" value=""/>
  <add key="Site-Forgot-Password-Notification-Message-Admin" value=""/>
  <add key="Site-Forgot-Password-Notification-Enable-User" value="true"/>
  <add key="Site-Forgot-Password-Notification-Subject-User" value=""/>
  <add key="Site-Forgot-Password-Notification-Message-User" value=""/>

  <!-- Reset Password Settings -->
  <add key="Site-Reset-Password-Url" value="https://rockawaywish.org-local/users/reset/password/?v={0}&amp;tk={1}"/>
  <add key="Site-Reset-Password-Notification-Enable-Admin" value="true"/>
  <add key="Site-Reset-Password-Notification-Subject-Admin" value=""/>
  <add key="Site-Reset-Password-Notification-Message-Admin" value=""/>
  <add key="Site-Reset-Password-Notification-Enable-User" value="true"/>
  <add key="Site-Reset-Password-Notification-Subject-User" value=""/>
  <add key="Site-Reset-Password-Notification-Message-User" value=""/>

  <!-- Contact Us Settings -->
  <add key="Site-Contact-Us-Url" value="https://rockawaywish.org-local/contact/us"/>
  <add key="Site-Contact-Us-Email" value="richie@tiradointeractive.com"/>
  <add key="Site-Contact-Us-Notification-Enable-Admin" value="true"/>
  <add key="Site-Contact-Us-Notification-Subject-Admin" value="Test Contact Us Notification subject for {0} to admin"/>
  <add key="Site-Contact-Us-Notification-Message-Admin" value="Test Contact Us Notification message for {0} to admin."/>
  <add key="Site-Contact-Us-Notification-Enable-User" value="true"/>
  <add key="Site-Contact-Us-Notification-Subject-User" value="Test Contact Us subject for {0} to user"/>
  <add key="Site-Contact-Us-Notification-Message-User" value="Test Contact Us notification message for {0} to user."/>

  <!-- Sign Out Settings -->
  <add key="Site-Sign-Out-Url" value="https://rockawaywish.org-local/users/sign/out"/>
  <add key="Site-Sign-Out-Email" value="richie@tiradointeractive.com"/>
  <add key="Site-Sign-Out-Notification-Enable-Admin" value="true"/>
  <add key="Site-Sign-Out-Notification-Subject-Admin" value="Test Sign Out Notification subject for {0} to admin"/>
  <add key="Site-Sign-Out-Notification-Message-Admin" value="Test Sign Out Notification message for {0} to admin."/>
  <add key="Site-Sign-Out-Notification-Enable-User" value="true"/>
  <add key="Site-Sign-Out-Notification-Subject-User" value="Test Sign Out subject for {0} to user"/>
  <add key="Site-Sign-Out-Notification-Message-User" value="Test Sign Out notification message for {0} to user."/>

  <!-- ReCaptcha Settings -->
  <add key="Site-ReCaptcha-Url" value="https://www.google.com/recaptcha/api/siteverify"/>
  <add key="Site-ReCaptcha-Key" value="6Lf4JOcUAAAAAOOSzmWfHAhsrsvlYC7Cpqc-nijP"/>

  <!-- Bing Settings -->
  <add key="Site-Enable-Bing-Verification-Key" value="true"/>
  <add key="Site-Bing-Verification-Key" value="961F09AB625F49E899A70A650C01A3A0"/>

  <!-- YouTube Settings -->
  <add key="Site-Enable-YouTube-Verification-Key" value="true"/>
  <add key="Site-YouTube-Verification-Key" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU"/>

  <!-- Swift Settings -->
  <add key="Site-Enable-SwifType-Engine-Key" value="true"/>
  <add key="Site-SwifType-Engine-Key" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU"/>

  <!-- SMTP Settings -->
  <add key="Site-Smtp-Host" value="smtp.gmail.com"/>
  <add key="Site-Smtp-User-Name" value="richie@tiradointeractive.com"/>
  <add key="Site-Smtp-Password" value="rich7576**"/>
  <add key="Site-Smtp-Port" value="587"/>
  <add key="Site-Smtp-From-Address" value="richie@tiradointeractive.com"/>
  <add key="Site-Smtp-From-Name" value="Wish of Rockaway"/>
  <add key="Site-Smtp-Enable-SSL" value="true"/>
  <add key="Site-Smtp-Use-Default-Credentials" value="false"/>

  <!-- Social Settings -->
  <add key="Site-Instagram-Url" value="https://rockawaywish.org-local/users/sign/out"/>
  <add key="Site-Instagram-Access-Token" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU"/>

  <!-- PayPal Settings -->
  <add key="Site-PayPal-Donate-Button-Id" value="TPYZYJWF4DDJW"/>

  <!-- Donation Settings -->
  <add key="Site-Donation-Url" value="https://rockawaywish.org-local/donate"/>
  <add key="Site-Donation-Payment-Id" value="02772dae-371e-40e8-b8fc-afed0cde9c24"/>
  <add key="Site-Donation-Notification-Enable-Admin" value="true"/>
  <add key="Site-Donation-Notification-Subject-Admin" value="Test Donation Notification subject for {0} to admin"/>
  <add key="Site-Donation-Notification-Message-Admin" value="Test Donation Notification message for {0} to admin"/>
  <add key="Site-Donation-Notification-Enable-User" value="true"/>
  <add key="Site-Donation-Notification-Subject-User" value="Test Donation subject for {0} to user"/>
  <add key="Site-Donation-Notification-Message-User" value="Test Donation notification message for {0} to user."/>

  <!-- Dues Settings -->
  <add key="Site-Dues-Url" value="https://rockawaywish.org-local/users/sues"/>
  <add key="Site-Dues-Notification-Enable-Admin" value="true"/>
  <add key="Site-Dues-Notification-Subject-Admin" value="Test Dues Notification subject for {0} to admin"/>
  <add key="Site-Dues-Notification-Message-Admin" value="Test Dues Notification message for {0} to admin"/>
  <add key="Site-Dues-Notification-Enable-User" value="true"/>
  <add key="Site-Dues-Notification-Subject-User" value="Test Dues subject for {0} to user"/>
  <add key="Site-Dues-Notification-Message-User" value="Test Dues notification message for {0} to user."/>

  <!-- Event Settings -->
  <add key="Site-Events-Url" value="https://rockawaywish.org-local/events"/>
  <add key="Site-Events-Notification-Enable-Admin" value="true"/>
  <add key="Site-Events-Notification-Subject-Admin" value="Test Events Notification subject for {0} to admin"/>
  <add key="Site-Events-Notification-Message-Admin" value="Test Events Notification message for {0} to admin"/>
  <add key="Site-Events-Notification-Enable-User" value="true"/>
  <add key="Site-Events-Notification-Subject-User" value="Test Events subject for {0} to user"/>
  <add key="Site-Events-Notification-Message-User" value="Test Events notification message for {0} to user."/>

  <!-- Unit Test Settings-->
  <add key="Test-Empty-Guid" value="00000000-0000-0000-0000-000000000000"/>
  <add key="Test-Membership-Api-Url" value="https://interactivemembership-api.tiradointeractive.com"/>
  <add key="Test-Membership-Api-Key" value="878B9D91-E499-4562-8BC4-5D8AC8AE5A98"/>

  <!-- Unit Test Application Settings-->
  <add key="Test-Application-Id" value="246719D6-4062-463F-884C-E9CC299C1E56"/>
  <add key="Test-Application-Title" value="Wish of Rockaway"/>
  <add key="Test-Application-Title-Updated" value="Wish of Rockaway Update"/>
  <add key="Test-Application-Is-Active" value="true"/>
  <add key="Test-Application-Is-Active-Updated" value="false"/>

  <!-- Unit Test User Roles Settings-->
  <add key="Test-Role-Id" value="CFC06EC5-80E5-4114-A037-370CE654B0F3"/>
  <add key="Test-Role-Title" value="Administrator"/>
  <add key="Test-Role-Title-Updated" value="Administrator_Updated"/>
  <add key="Test-Role-Is-Active" value="true"/>
  <add key="Test-Role-Is-Active-Updated" value="false"/>

  <!-- Unit Test Dues Settings-->
  <add key="Test-Dues-Id" value="752B6DD1-E065-458B-A13E-B487E718B445"/>
  <add key="Test-Dues-Title" value="2020 Volleyball Dues"/>
  <add key="Test-Dues-Title-Updated" value="2020 Volleyball Dues Updated"/>
  <add key="Test-Dues-Start-Date" value="02/01/2019"/>
  <add key="Test-Dues-Start-Date-Updated" value="04/15/2019"/>
  <add key="Test-Dues-End-Date" value="05/01/2020"/>
  <add key="Test-Dues-End-Date-Updated" value="01/15/2021"/>
  <add key="Test-Dues-Amount" value="100"/>
  <add key="Test-Dues-Amount-Updated" value="200"/>
  <add key="Test-Dues-Is-Active" value="true"/>
  <add key="Test-Dues-Is-Active-Updated" value="false"/>
  <add key="Test-Dues-PayPal-Button-Id" value="T844VV3P9R2JW"/>
  <add key="Test-Dues-PayPal-Button-Id-Updated" value="f667799sasas"/>

  <!-- Unit Test Logs Settings-->
  <add key="Test-Log-Id" value="F9070ED8-1939-46FB-B892-A2760DCCD9A5"/>
  <add key="Test-Log-Project" value="WishOfRockaway.WebApi.Web.Controllers"/>
  <add key="Test-Log-Method" value="Register"/>
  <add key="Test-Log-Description" value="User already exists"/>
  <add key="Test-Log-Start-Date" value="04/01/2018"/>
  <add key="Test-Log-End-Date" value="06/01/2021"/>
  <add key="Test-Log-Is-Active" value="true"/>

  <!-- Unit Test Users Settings-->
  <add key="Test-User-Application-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1"/>
  <add key="Test-User-Id" value="567BFC98-4FA9-4E2A-88AD-6C22E4EBE55D"/>
  <add key="Test-User-Id-Updated" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1"/>
  <add key="Test-User-First-Name" value="Kelli"/>
  <add key="Test-User-First-Name-Updated" value="Kelli Updated"/>
  <add key="Test-User-Last-Name" value="Donohue"/>
  <add key="Test-User-Last-Name-Updated" value="Donohue Updated"/>
  <add key="Test-User-Email-Address" value="richie@tiradointeractive.com"/>
  <add key="Test-User-Email-Address-Updated" value="richie-updated@tiradointeractive.com"/>
  <add key="Test-User-Password" value="rich7576**"/>
  <add key="Test-User-Password-Updated" value="rich7576**"/>
  <add key="Test-User-Password-New" value="rich7576**New"/>
  <add key="Test-User-Password-Old" value="rich7576**Old"/>
  <add key="Test-User-Address" value="123 Melrose Place"/>
  <add key="Test-User-Address-Updated" value="Updated 123 Melrose Place"/>
  <add key="Test-User-City" value="Brooklyn"/>
  <add key="Test-User-City-Updated" value="Queens"/>
  <add key="Test-User-State" value="NY"/>
  <add key="Test-User-State-Updated" value="NJ"/>
  <add key="Test-User-Zip" value="55555"/>
  <add key="Test-User-Zip-Updated" value="12345"/>
  <add key="Test-User-Country" value="United States"/>
  <add key="Test-User-Country-Updated" value="USA"/>
  <add key="Test-User-Cell-Phone" value="9145749967"/>
  <add key="Test-User-Cell-Phone-Updated" value="9145749967 (Updated)"/>
  <add key="Test-User-Home-Phone" value="7186698574"/>
  <add key="Test-User-Home-Phone-Updated" value="7186698574 (Updated)"/>
  <add key="Test-User-Year-Joined" value="2020"/>
  <add key="Test-User-Year-Joined-Updated" value="2022"/>
  <add key="Test-User-Is-Active" value="false"/>
  <add key="Test-User-Is-Active-Updated" value="true"/>

  <!-- Unit Test Accss TokenSettings-->
  <add key="Test-User-Activation-Access-Token" value="ECEA6EDD-0246-4DA9-9CDC-99495F909A11"/>
  <add key="Test-User-Reset-Password-Access-Token" value="53B7EC3C-A76E-4464-B22A-0CD5B2D06443"/>
  <add key="Test-User-Token-Site-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1"/>
  <add key="Test-User-Token-Forgot-Password-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1"/>
  <add key="Test-User-Token-Reset-Password-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1"/>

  <!-- Unit Test User Token Settings-->
  <add key="Test-User-Token-Id" value="F346C744-053D-4ABB-AE92-04762F854508"/>
  <add key="Test-User-Token-Is-Active" value="true"/>
  <add key="Test-User-Token-Is-Active-Updated" value="false"/>
  <add key="Test-User-Token-Type-Id" value="1"/>
  <add key="Test-User-Token-Type-Id-Updated" value="2"/>

  <!-- Unit Test User Payment Settings-->
  <add key="Test-User-Payment-Id" value="527A5B1C-D4ED-47FE-83D1-27B75FCA09B2"/>
  <add key="Test-Payment-Id" value="752B6DD1-E065-458B-A13E-B487E718B445"/>
  <add key="Test-Payment-Type-Id" value="1"/>
  <add key="Test-Payment-Type-Id-Updated" value="2"/>
  <add key="Test-Payment-Method" value="Cash"/>
  <add key="Test-Payment-Method-Updated" value="PayPal"/>
  <add key="Test-Payment-Amount" value="100.00"/>
  <add key="Test-Payment-Amount-Updated" value="200.00"/>
  <add key="Test-Payment-Date" value="01/25/18"/>
  <add key="Test-Payment-Date-Updated" value="04/12/19"/>

  <!-- Unit Test User Audit Settings-->
  <add key="Test-User-Audit-Id" value="B800B29D-E666-485F-BDE7-AA0A20E8A76A"/>
  <add key="Test-User-Audit-Project" value="UserAudit.WishOfRockaway.WebApi.Database.UserDB.Create"/>
  <add key="Test-User-Audit-Description" value="User Logged on successfully"/>
  <add key="Test-User-Audit-Start-Date" value="05/24/2020"/>
  <add key="Test-User-Audit-End-Date" value="05/24/2020"/>
  <add key="Test-User-Audit-Is-Active" value="true"/>

  <!-- Unit Test Email Settings-->
  <add key="Test-Email-SMTP-Host" value="smtp.gmail.com"/>
  <add key="Test-Email-From-Address" value="richie2@tiradointeractive.com"/>
  <add key="Test-Email-To-Address" value="richie@tiradointeractive.com"/>
  <add key="Test-Email-SMTP-Subject" value="Test1 subject"/>
  <add key="Test-Email-SMTP-Message" value="Test1 message"/>
  <add key="Test-Email-SMTP-Port" value="587"/>
  <add key="Test-Email-Use-Default-Credentials" value="false"/>
  <add key="Test-Email-Enable-SSL" value="true"/>
  <add key="Test-Email-SMTP-User-Name" value="richie@tiradointeractive.com"/>
  <add key="Test-Email-SMTP-Password" value="rich7576**"/>
  <add key="Test-Email-From-Name" value="Richie Tirado From Name"/>
  <add key="Test-Email-To-Name" value="Richie Tirado To Name"/>

  <!-- Unit Test Social Settings-->
  <add key="Test-Instagram-Access-Token" value="234423342432"/>
  <add key="Test-Facebook-Access-Token" value="3243434342"/>
  <add key="Test-Facebook-Id" value="324432423"/>



</appSettings>
