<configuration>
  <appSettings>
    <clear />

    <!-- Site Settings -->
    <add key="Site-Enable-SSL" value="true" />
    <add key="Site-Enable-Cache" value="true" />
    <add key="Site-Title" value="Wish of Rockaway" />
    <add key="Site-Application-Id" value="13A6F14D-7B2B-4266-AB7D-A11DF2AFEB07" />
    <add key="Site-Url" value="https://rockawaywish-local.tiradointeractive.com" />

    <!-- Site API Settings -->
    <add key="Site-Api-Url" value="https://games-api.tiradointeractive.com" />
    <add key="Site-Api-Key-Enable" value="true" />
    <add key="Site-Api-Key" value="719b603a-a2ac-4373-a069-c0d20c29843a" />

    <!-- Global Asset Settings -->
    <add key="Site-Logo-Url" value="~/Content/img/bone-spinner-small.gif" />
    <add key="Site-Loading-Image-Url" value="~/Content/img/bone-spinner-small.gif" />

    <!-- Notification Settings -->
    <add key="Site-Notification-Name-Admin" value="WISH of Rockaway Administration" />
    <add key="Site-Notification-Email-Admin" value="richie@tiradointeractive.com" />
    <add key="Site-Notification-Enable-Admin" value="true" />
    <add key="Site-Notification-Subject-Admin" value="Test Notification subject for {0} to admin" />
    <add key="Site-Notification-Message-Admin" value="Test Notification message for {0} to admin." />
    <add key="Site-Notification-Enable-User" value="true" />
    <add key="Site-Notification-Subject-User" value="" />
    <add key="Site-Notification-Message-User" value="" />

    <!-- Error Settings -->
    <add key="Site-Error-Url" value="https://rockawaywish-local.tiradointeractive.com/error" />
    <add key="Site-Error-Notification-Enable-Admin" value="true" />
    <add key="Site-Error-Notification-Subject-Admin" value="Test Error Notification subject for {0} to admin" />
    <add key="Site-Error-Notification-Message-Admin" value="Test Error Notification message for {0} to admin." />
    <add key="Site-Error-Notification-Enable-User" value="true" />
    <add key="Site-Error-Notification-Subject-User" value="Test Error subject for {0} to user" />
    <add key="Site-Error-Notification-Message-User" value="Test Error notification message for {0} to user." />

    <!-- Login Settings -->
    <add key="Site-Login-Url" value="https://rockawaywish-local.tiradointeractive.com/users/create" />
    <add key="Site-Login-Notification-Enable-Admin" value="true" />
    <add key="Site-Login-Notification-Subject-Admin" value="" />
    <add key="Site-Login-Notification-Message-Admin" value="" />
    <add key="Site-Login-Notification-Enable-User" value="true" />
    <add key="Site-Login-Notification-Subject-User" value="" />
    <add key="Site-Login-Notification-Message-User" value="" />

    <!-- Registration Settings -->
    <add key="Site-Registration-Url" value="https://rockawaywish-local.tiradointeractive.com/users/create" />
    <add key="Site-Registration-Notification-Enable-Admin" value="true" />
    <add key="Site-Registration-Notification-Subject-Admin" value="" />
    <add key="Site-Registration-Notification-Message-Admin" value="" />
    <add key="Site-Registration-Notification-Enable-User" value="true" />
    <add key="Site-Registration-Notification-Subject-User" value="" />
    <add key="Site-Registration-Notification-Message-User" value="" />

    <!-- Activation Settings -->
    <add key="Site-Activation-Url" value="https://rockawaywish-local.tiradointeractive.com/users/activate/?aId={0}&amp;sD={1}&amp;tP={2}" />
    <add key="Site-Activation-Notification-Enable-Admin" value="true" />
    <add key="Site-Activation-Notification-Subject-Admin" value="" />
    <add key="Site-Activation-Notification-Message-Admin" value="" />
    <add key="Site-Activation-Notification-Enable-User" value="true" />
    <add key="Site-Activation-Notification-Subject-User" value="" />
    <add key="Site-Activation-Notification-Message-User" value="" />

    <!-- Forgot Password Settings -->
    <add key="Site-Forgot-Password-Url" value="https://rockawaywish-local.tiradointeractive.com/users/forgot/password" />
    <add key="Site-Forgot-Password-Notification-Enable-Admin" value="true" />
    <add key="Site-Forgot-Password-Notification-Subject-Admin" value="" />
    <add key="Site-Forgot-Password-Notification-Message-Admin" value="" />
    <add key="Site-Forgot-Password-Notification-Enable-User" value="true" />
    <add key="Site-Forgot-Password-Notification-Subject-User" value="" />
    <add key="Site-Forgot-Password-Notification-Message-User" value="" />

    <!-- Reset Password Settings -->
    <add key="Site-Reset-Password-Url" value="https://rockawaywish-local.tiradointeractive.com/users/reset/password/?v={0}&amp;tk={1}" />
    <add key="Site-Reset-Password-Notification-Enable-Admin" value="true" />
    <add key="Site-Reset-Password-Notification-Subject-Admin" value="" />
    <add key="Site-Reset-Password-Notification-Message-Admin" value="" />
    <add key="Site-Reset-Password-Notification-Enable-User" value="true" />
    <add key="Site-Reset-Password-Notification-Subject-User" value="" />
    <add key="Site-Reset-Password-Notification-Message-User" value="" />

    <!-- Contact Us Settings -->
    <add key="Site-Contact-Us-Url" value="https://rockawaywish-local.tiradointeractive.com/contact-us" />
    <add key="Site-Contact-Us-Email" value="richie@tiradointeractive.com" />
    <add key="Site-Contact-Us-Notification-Enable-Admin" value="true" />
    <add key="Site-Contact-Us-Notification-Subject-Admin" value="Test Contact Us Notification subject for {0} to admin" />
    <add key="Site-Contact-Us-Notification-Message-Admin" value="Test Contact Us Notification message for {0} to admin." />
    <add key="Site-Contact-Us-Notification-Enable-User" value="true" />
    <add key="Site-Contact-Us-Us-Notification-Subject-User" value="Test Contact Us subject for {0} to user" />
    <add key="Site-Contact-Us-Notification-Message-User" value="Test Contact Us notification message for {0} to user." />

    <!-- Sign Out Settings -->
    <add key="Site-Sign Out-Url" value="https://rockawaywish-local.tiradointeractive.com/users/sign/out" />
    <add key="Site-Sign Out-Email" value="richie@tiradointeractive.com" />
    <add key="Site-Sign Out-Notification-Enable-Admin" value="true" />
    <add key="Site-Sign Out-Notification-Subject-Admin" value="Test Sign Out Notification subject for {0} to admin" />
    <add key="Site-Sign Out-Notification-Message-Admin" value="Test Sign Out Notification message for {0} to admin." />
    <add key="Site-Sign Out-Notification-Enable-User" value="true" />
    <add key="Site-Sign Out-Notification-Subject-User" value="Test Sign Out subject for {0} to user" />
    <add key="Site-Sign Out-Notification-Message-User" value="Test Sign Out notification message for {0} to user." />

    <!-- ReCaptcha Settings -->
    <add key="Site-ReCaptcha-Url" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="Site-ReCaptcha-Key" value="6Lf4JOcUAAAAAOOSzmWfHAhsrsvlYC7Cpqc-nijP" />

    <!-- Bing Settings -->
    <add key="Site-Enable-Bing-Site-Verification-Key" value="true" />
    <add key="Site-Bing-Verification-Key" value="961F09AB625F49E899A70A650C01A3A0" />

    <!-- YouTube Settings -->
    <add key="Site-Enable-YouTube-Verification-Key" value="true" />
    <add key="Site-YouTube-Verification-Key" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU" />

    <!-- Swift Settings -->
    <add key="Site-SwifType-Engine-Key" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU" />

    <!-- SMTP Settings -->
    <add key="Site-Smtp-Host" value="smtp.gmail.com" />
    <add key="Site-Smtp-User-Name" value="info@rockawaywish.org" />
    <add key="Site-Smtp-Password" value="Rockaway11694*" />
    <add key="Site-Smtp-Port" value="587" />
    <add key="Site-Smtp-From-Address" value="info@rockawaywish.or" />
    <add key="Site-Smtp-From-Name" value="WISH of Rockaway" />
    <add key="Site-Smtp-Enable-SSL" value="true" />
    <add key="Site-Smtp-Use-Default-Credentials" value="false" />

    <!-- Social Settings -->
    <add key="Site-Instagram-Url" value="https://rockawaywish-local.tiradointeractive.com/users/sign/out" />
    <add key="Site-Instagram-Access-Token" value="Rtbjy-5My4zNXhbzfv_O-0hoc4Qi0U7xZlWrgPeWTjU" />

    <!-- PayPal Settings -->
    <add key="Site-PayPal-Donate-Button-Id" value="TPYZYJWF4DDJW" />
    
    <!-- Donation Settings -->
    <add key="Site-Donation-Url" value="https://rockawaywish-local.tiradointeractive.com/users/sign/out" />
    <add key="Site-Donation-Payment-Id" value="02772dae-371e-40e8-b8fc-afed0cde9c24" />
    <add key="Site-Donation-Notification-Enable-Admin" value="true" />
    <add key="Site-Donation-Notification-Subject-Admin" value="Test Donation Notification subject for {0} to admin" />
    <add key="Site-Donation-Notification-Message-Admin" value="Test Donation Notification message for {0} to admin" />
    <add key="Site-Donation-Notification-Enable-User" value="true" />
    <add key="Site-Donation-Notification-Subject-User" value="Test Donation subject for {0} to user" />
    <add key="Site-Donation-Notification-Message-User" value="Test Donation notification message for {0} to user." />

    <!-- Dues Settings -->
    <add key="Site-Dues-Url" value="https://rockawaywish-local.tiradointeractive.com/users/sign/out" />
    <add key="Site-Dues-Notification-Enable-Admin" value="true" />
    <add key="Site-Dues-Notification-Subject-Admin" value="Test Dues Notification subject for {0} to admin" />
    <add key="Site-Dues-Notification-Message-Admin" value="Test Dues Notification message for {0} to admin" />
    <add key="Site-Dues-Notification-Enable-User" value="true" />
    <add key="Site-Dues-Notification-Subject-User" value="Test Dues subject for {0} to user" />
    <add key="Site-Dues-Notification-Message-User" value="Test Dues notification message for {0} to user." />

    <!-- Event Settings -->
    <add key="Site-Events-Url" value="https://rockawaywish-local.tiradointeractive.com/users/sign/out" />
    <add key="Site-Events-Notification-Enable-Admin" value="true" />
    <add key="Site-Events-Notification-Subject-Admin" value="Test Events Notification subject for {0} to admin" />
    <add key="Site-Events-Notification-Message-Admin" value="Test Events Notification message for {0} to admin" />
    <add key="Site-Events-Notification-Enable-User" value="true" />
    <add key="Site-Events-Notification-Subject-User" value="Test Events subject for {0} to user" />
    <add key="Site-Events-Notification-Message-User" value="Test Events notification message for {0} to user." />

    <!-- CMS Application Settings -->
    <add key="Cms-Url" value="https://games-cms.tiradointeractive.com/umbraco" />
    <add key="Cms-Api-Url" value="https://games-cms.tiradointeractive.com/umbraco/api" />
    <add key="Cms-Api-Key-Enable" value="false" />
    <add key="Cms-Api-Key" value="asd*2lH@klj234^2902f4RjSSP2K2Ewk3jk23" />
    <add key="Cms-Site-Title" value="Tirado Interactive" />
    <add key="Cms-SSL-Enable" value="false" />
    <add key="Cms-Cache-Enable" value="false" />

    <!-- Membership Api Settings -->
    <add key="Membership-Api-Url" value="https://wish-membership-api.tiradointeractive.com" />
    <add key="Membership-Api-Key-Enable" value="true" />
    <add key="Membership-Api-Key" value="asd*2lH@klj234^2902f4RjSSP2K2Ewk3jk23" />

    <!-- Membership Admin Settings -->
    <add key="Membership-Admin-Url" value="https://interactivemembership.tiradointeractive.com" />
    <add key="Membership-Admin-Site-Title" value="Interactive Games Administration" />
    <add key="Membership-Admin-Name" value="Interactive Games Administration" />
    <add key="Membership-Admin-Email" value="richie@tiradointeractive.com" />
    <add key="Membership-Admin-Key" value="02772dae-371e-40e8-b8fc-afed0cde9c24" />
    <add key="Membership-Admin-Application-Id" value="02772dae-371e-40e8-b8fc-afed0cde9c24" />

    <!-- Unit Test Settings-->
    <add key="Test-Application-Id" value="41cb7e67-f391-47b2-978e-740e41eb69dd" />
    <add key="Test-Application-Title" value="Interactive Games" />
    <add key="Test-Application-Title-Updated" value="41CB7E67-F391-47B2-978E-740E41EB69DD" />
    <add key="Test-User-Application-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1" />
    <add key="Test-User-Id" value="42A8BDF0-128C-40CD-A60A-10CC6C4DB1A3" />
    <add key="Test-User-Id-Updated" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1" />
    <add key="Test-User-Token-Id" value="ECEA6EDD-0246-4DA9-9CDC-99495F909A11" />
    <add key="Test-User-First-Name" value="Richard" />
    <add key="Test-User-First-Name-Updated" value="Richard Updated" />
    <add key="Test-User-Last-Name" value="Tirado" />
    <add key="Test-User-Last-Updated" value="Tirado Updated" />
    <add key="Test-User-Email-Address" value="richie@tiradointeractive.com" />
    <add key="Test-User-Email-Address-Updated" value="richie-updated@tiradointeractive.com" />
    <add key="Test-User-Password" value="rich7576**" />
    <add key="Test-User-Password-New" value="rich7576**Updated" />
    <add key="Test-User-Password-Old" value="rich7576**Old" />
    <add key="Test-User-Zip" value="11664" />
    <add key="Test-User-Zip-Updated" value="10492" />
    <add key="Test-User-Token-Site-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1" />
    <add key="Test-User-Token-Forgot-Password-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1" />
    <add key="Test-User-Token-Reset-Password-Access-Token-Id" value="05AE63DB-3F88-4A5B-8BF2-D3AE86C684C1" />
    <add key="Test-User-Remote-IP" value="127.0.0.1*" />
    <add key="Test-User-ReCaptcha-Response" value="" />
    <add key="Test-Empty-Guid" value="00000000-0000-0000-0000-000000000000" />
    
    <!-- Unit Test (NEW) Settings-->
    <add key="Test-User-Address" value="102-00 Shore Front Parkway" />
    <add key="Test-User-City" value="Rockaway Park" />
    <add key="Test-User-State" value="NY" />
    <add key="Test-User-Country" value="USA" />
    <add key="Test-User-Cell-Phone" value="3479240775" />
    <add key="Test-User-Home-Phone" value="9175749967" />
    <add key="Test-User-Year-Joined" value="2020" />
    <add key="Test-User-Is-User" value="true" />
    <add key="Test-User-Is-Active" value="false" />
    <add key="Test-User-Is-Admin" value="false" />
    <add key="Test-User-Is-Super-Admin" value="false" />
    <add key="Test-User-Is-Donator" value="false" />
    <add key="Test-User-Activation-Access-Token" value="CEAB104C-C0EF-4335-8235-5EBB99E6364F" />
    <add key="Test-User-Reset-Password-Access-Token" value="08BA12FF-0A71-465F-BDED-D07BC0FB99C0" />
  </appSettings>

  <connectionStrings>
    <clear />
    <add name="InteractiveMembershipDBContext" connectionString="metadata=res://*/InteractiveMembershipDB.csdl|res://*/InteractiveMembershipDB.ssdl|res://*/InteractiveMembershipDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7\SQL2K8;initial catalog=InteractiveMembership-Dev;user id=interactivemembership_user;password=riT757\6;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
