
<section id="cancel-payment">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Member Center</h2>
                <p> Thank you for your payment!</p>
                <br />
                <br />
                <p>
                    <a href="@Url.Content("~/members/info")">Profile Information</a>
                </p>
                <p>
                    <a href="@Url.Content("~/members/payments")">Dues and payments</a>
                </p>
            </div>
        </div>
    </div>
</section>

