
<section id="our-team">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Member Center</h2>
                <p> We welcome you to the WISH of Rockaway group with much love. I hope you would work for the motive of the group as much as other members and save our coummunity.</p>
                <br />
                <p>
                    <a href="@Url.Content("~/members/info")">Profile Information</a>
                </p>
                <p>
                    <a href="@Url.Content("~/members/payments")">Dues and payments</a>
                </p>
            </div>
        </div>
    </div>
</section><!--/#Our-Team-->

