@model InteractiveMembership.Core.ViewModels.ForgotPasswordCompleteVM

<h2>Forgot your password?</h2>
<hr />
<div>
    <p>
        Please check your email.  A link was sent to you to reset your password.
    </p>
</div>