
<section id="our-team">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Member Profile</h2>
                <p>Welcome to the WISH of Rockaway Member Profile Page!</p>
                <br />
            </div>
        </div>
    </div>
</section><!--/#Our-Team-->
