<section id="registerconfirmation">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Join WISH of Rockway!</h2>
                <p>Thank you for your submission!</p>
<p>  You will be hearing from us very shortly.  Be sure to check your email.</p>
    

            </div>
        </div>
    </div>
</section><!--/#Our-Team-->
