@model InteractiveMembership.Core.ViewModels.RegisterCompleteVM

<h2>Register</h2>
<hr />
<h4>Thank you for registering with @Convert.ToString(Model.SiteTitle)!</h4>
<p>1. You have completed the first step. </p>
<p>2. The next step is to activate your account.</p>
<p>&nbsp;</p>
<p>Please check your email and click on the activation link that was sent to you.</p>