
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Events</h1>
            <p>Under construction!</p>
        </div>
    </div>
</div>

