<section id="about-us">
    <div class="container">
        <div class="text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">About Us</h2>
                <p>Rockaway W.I.S.H. is a registered 501(c)(3) non-profit organization. Since 2006, our group of born & bred Rockawayites, has been at the forefront of local volunteer efforts, aiding our neighbors in times of need. On October 29, 2012, Hurricane Sandy decimated our home town, making our presence in the neighborhood more crucial than ever before. Our Mission, post Hurricane Sandy, is to provide monetary relief to victims during the recovery and rebuild phases of this disaster.</p>
            </div>
        </div>
        <div class="about-us">
            <div class="row">
                @*<div class="col-sm-6">
                        <h3>Why with us?</h3>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About</a></li>
                            <li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mission</a></li>
                            <li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Community</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="about">
                                <div class="media">
                                    <img class="pull-left media-object" src="images/about-us/about.jpg" alt="about us">
                                    <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="mission">
                                <div class="media">
                                    <img class="pull-left media-object" src="images/about-us/mission.jpg" alt="Mission">
                                    <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="community">
                                <div class="media">
                                    <img class="pull-left media-object" src="images/about-us/community.jpg" alt="Community">
                                    <div class="media-body">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="text-center col-sm-12">
                    <h3>Mission Statement</h3>
                    <p>To recognize the needs of the community and volunteer our time and talents to assist our neighbors during difficult times.</p>
                    <p>To promote participation in charitable events, particularly those that bring attention to and support causes that affect the lives of women and children.</p>
                    <p>To encourage a sense of civil obligation and community service in the Rockaways.</p>
                    <p>To foster new friendships and support networks amongst women in the Rockaways.</p>
                    <p>To raise funds and provide financial assistance to members of the Rockaway community in need and to causes which promote positive development in the Rockaways.</p>
                    <p>To inspire the young women of the Rockaways to be compassionate, understanding and active members of the community.</p>
                    @*<div class="skill-bar">
                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-title">
                                    <span>HTML5 &amp; CSS3</span>
                                </div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">90%</div>
                            </div> <!-- End Skill Bar -->
                            <div class="skillbar clearfix" data-percent="85%">
                                <div class="skillbar-title"><span>UI Design</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">85%</div>
                            </div> <!-- End Skill Bar -->
                            <div class="skillbar clearfix " data-percent="70%">
                                <div class="skillbar-title"><span>jQuery</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">70%</div>
                            </div> <!-- End Skill Bar -->
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-title"><span>PHP</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">60%</div>
                            </div> <!-- End Skill Bar -->
                            <div class="skillbar clearfix " data-percent="75%">
                                <div class="skillbar-title"><span>Wordpress</span></div>
                                <div class="skillbar-bar"></div>
                                <div class="skill-bar-percent">75%</div>
                            </div> <!-- End Skill Bar -->
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section><!--/#about-us-->
