<section id="about-us">
    <div class="container">
        <div class="text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">About Us</h2>
                <p>Rockaway W.I.S.H. is a registered 501(c)(3) non-profit organization. Since 2006, our group of born & bred Rockawayites, has been at the forefront of local volunteer efforts, aiding our neighbors in times of need. On October 29, 2012, Hurricane Sandy decimated our home town, making our presence in the neighborhood more crucial than ever before. Our Mission, post Hurricane Sandy, is to provide monetary relief to victims during the recovery and rebuild phases of this disaster.</p>
            </div>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="text-center col-sm-12">
                    <h3>Mission Statement</h3>
                    <p>To recognize the needs of the community and volunteer our time and talents to assist our neighbors during difficult times.</p>
                    <p>To promote participation in charitable events, particularly those that bring attention to and support causes that affect the lives of women and children.</p>
                    <p>To encourage a sense of civil obligation and community service in the Rockaways.</p>
                    <p>To foster new friendships and support networks amongst women in the Rockaways.</p>
                    <p>To raise funds and provide financial assistance to members of the Rockaway community in need and to causes which promote positive development in the Rockaways.</p>
                    <p>To inspire the young women of the Rockaways to be compassionate, understanding and active members of the community.</p>
                </div>
            </div>
            @*<div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="title-one">Meet The Board</h2>
                </div>
            </div>*@
            <div id="team-carousel" class="carousel slide" data-interval="false">
                <a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <div class="carousel-inner team-members">
                    <div class="row item active">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                @*<img src="images/our-team/member1.jpg" alt="team member" />*@
                                <h4>Kelli Donohue Tirado</h4>
                                <h5>President and Founder</h5>
                                <p>Kelli a lifelong resident of Rockaway Beach, New York.  She founded Rockaway WISH in November of 2006.  Kelli’s duties as President of WISH include overseeing day-to-day operations of the organization and approving all incoming correspondence from outside charities wishing to help the Rockaways.  Mrs. Tirado also oversees the recruitment of new members seeking to join WISH and their mission to help others.</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                @*<img src="images/our-team/member2.jpg" alt="team member" />*@
                                <h4>Loretta Courtney</h4>
                                <h5>Vice President</h5>
                                <p>Loretta is a lifelong resident of Rockaway Beach, New York.  She was an original member of WISH upon it’s creation in 2006.  Loretta’s duties as Vice President include organizing events run by WISH such as WISH Rocks, an annual Century Club fete and a yearly Holiday Party for the children of the area.  @*Mrs. Courtney schedules and oversees monthly meetings for WISH where the organization determines upcoming events, places orders for supplies needed by families in the area and decides on additional fund raising ideas to allow WISH to further help the women of Rockaway, Broad Channel and Breezy Point.*@</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                @*<img src="images/our-team/member3.jpg" alt="team member" />*@
                                <h4>Jean Condon</h4>
                                <h5>Treasurer</h5>
                                <p>Jean is a lifelong resident of Rockaway Beach, New York.  She has been a member of WISH for six years. As Treasurer, Mrs. Condon oversees the financial portion of the organization.  She organizes incoming and outgoing funds, facilitates annual fundraisers and spear heads additional fund raising events throughout the year to secure monies for WISH.  </p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                @*<img src="images/our-team/member4.jpg" alt="team member" />*@
                                <h4>Colleen Brady</h4>
                                <h5>Director of Memberships</h5>
                                <p>Colleen is a lifelong resident of Rockaway Beach, New York.  She joined Rockaway WISH in 2009 after a friend convinced her to attend the organization’s monthly meeting.  Colleen’s duties as Director of Memberships include recording current members and their dues, adding new members to an updated email distribution list and maintaining current information on all WISH members.  @*Mrs. Brady also responds to email requests sent to WISH, which include a large umbrella of items from information about the organization to requests for aid from WISH.*@</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row item">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                <img src="images/our-team/member1.jpg" alt="team member" />
                                <h4>William Hurt</h4>
                                <h5>Sr. Web Developer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                <img src="images/our-team/member3.jpg" alt="team member" />
                                <h4>Paul Johnson</h4>
                                <h5>Skilled Programmer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                <img src="images/our-team/member2.jpg" alt="team member" />
                                <h4>Alekjandra Jony</h4>
                                <h5>Creative Designer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-member">
                                <img src="images/our-team/member4.jpg" alt="team member" />
                                <h4>John Richerds</h4>
                                <h5>Marketing Officer</h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                                <div class="socials">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
        
    </div>
</section><!--/#about-us-->
