@model RockawayWish.Web.ViewModels.CarouselVM
<style type="text/css">
    .carousel-inner > .carousel-item {
        height: 90vh;
    }


    .carousel-inner > .carousel-item > img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
    }
    .carousel-inner > .carousel-item > .carousel-caption {
        
    }

    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
/*
    .carousel-inner img {
        width: 100%;
        height: 750px;
    }
    .carousel-inner .carousel-item div {
        padding-bottom: 300px;
    }*/
</style>
<div id="demo" class="carousel slide" data-ride="carousel" >

    <!-- Indicators -->
    @*<ul class="carousel-indicators" style="padding-bottom: 20px">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
    </ul>*@

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://interactivemembership-cms.tiradointeractive.com/media/1024/helpers4.jpg" alt="Slide 1">
            @*<div class="carousel-caption">
                <h3>WISH</h3>
                <p>Thanks You</p>
            </div>*@
        </div>
        @*<div class="carousel-item">
            <img src="https://interactivemembership-cms.tiradointeractive.com/media/1023/wishslide5.jpg" alt="Slide 2">
            <div class="carousel-caption">
                <h3>WISH</h3>
                <p>Thanks You</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://interactivemembership-cms.tiradointeractive.com/media/1010/slide3.jpg" alt="Slide 3">
            <div class="carousel-caption">
                <h3>WISH</h3>
                <p>Thanks You</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://interactivemembership-cms.tiradointeractive.com/media/1012/slide4.jpg" alt="Slide 4">
            <div class="carousel-caption">
                <h3>WISH</h3>
                <p>Thanks You</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://interactivemembership-cms.tiradointeractive.com/media/1013/slide5.jpg" alt="Slide 5">
            <div class="carousel-caption">
                <h3>WISH</h3>
                <p>Thanks You</p>
            </div>
        </div>*@
    </div>

    <!-- Left and right controls -->
    @*<a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>*@

</div>

