<footer id="footer">
    <div class="container">
        <div class="text-center social-icons">
            <p>
                Copyright &copy; 2016 - WISH of Rockaway LLC | All Rights Reserved
                <a href="https://twitter.com/RockawayWISH" target="_blank"><i class="fa fa-twitter"></i></a>
            </p>
        </div>
    </div>
</footer> <!--/#footer-->