@model RockawayWish.Web.ViewModels.FooterVM

<!--Bottom Footer -->
<div class="footer sticky-bottom">
    <p>Copyright &copy; @DateTime.Now.Year.ToString() - WISH of Rockaway Inc. | All Rights Reserved</p>
</div>

