@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <a href="@Url.Content("~/")"><img src="@Url.Content("~/Content/img/logo.png")" style="padding: 20px;"></a>

</div>
<div class="panel panel-default">
    <div class="panel-body">

        @RenderBody()
        @RenderSection("scripts", required: false)
    </div>
</div>
