@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
    ViewBag.Title = "About";
}
<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <p>Rockaway W.I.S.H. is a registered 501(c)(3) non-profit organization. Since 2006, our group of born & bred Rockawayites, has been at the forefront of local volunteer efforts, aiding our neighbors in times of need. On October 29, 2012, Hurricane Sandy decimated our home town, making our presence in the neighborhood more crucial than ever before. Our Mission, post Hurricane Sandy, is to provide monetary relief to victims during the recovery and rebuild phases of this disaster.</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row text-left">
        <div class="col-lg-12">
            <h2 class="page-header">Board Members</h2>
        </div>
        <hr />
        <p>Under construction!</p>

        @*<div class="col-lg-4 col-sm-6 text-left">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="" style="float: left;">
            <h3>
                Kelli Donohue Tirado<br />
                <small>Rockaway WISH President and Founder</small>
            </h3>
            <p>
                Kelli is a lifelong resident of Rockaway Beach, New York.  She founded Rockaway WISH in November of 2006.  Kelli’s duties as President of WISH include overseeing day-to-day operations of the organization and approving all incoming correspondence from outside charities wishing to help the Rockaways.  Mrs. Tirado also oversees the recruitment of new members seeking to join WISH and their mission to help others.

                Kelli was aware from a very young age the importance of coming to the aid of others. She witnessed her parents selflessly helping those in need and felt their kindness needed to be carried on.  Mrs. Tirado was also inspired by other volunteer organizations in Rockaway who helped the community so she decided to begin a group that would focus on helping the women of the community. Kelli gathered a group of friends and neighbors; enlightening them with her ideas.   The group of giving women decided to become a part of Kelli’s movement and WISH was born.

                Super storm Sandy proved to be both challenging and rewarding for Kelli via her work through WISH.  Although Mrs. Tirado was affected directly by the storm, she increased her hours spent working for the organization.  Kelli collaborated with many various organizations both on and off the Rockaway peninsula who wanted to help the devastated community.  Since the storm WISH’s membership has grown exponentially and Mrs. Tirado was a major factor in this advancement.  By organizing meetings, social media and the press, Kelli has turned a small town organization into a household name throughout most of New York City.

                Mrs. Tirado is recently married to Richard.  She enjoys spending time with family and friends, outdoor activities, singing and dancing, and being a resident of her hometown, Rockaway Beach.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Loretta Courtney<br />
                <small>Rockaway WISH Vice President</small>
            </h3>
            <p>
                Loretta is a lifelong resident of Rockaway Beach, New York.  She was an original member of WISH upon it’s creation in 2006.  Loretta’s duties as Vice President include organizing events run by WISH such as WISH Rocks, an annual Century Club fete and a yearly Holiday Party for the children of the area.  Mrs. Courtney schedules and oversees monthly meetings for WISH where the organization determines upcoming events, places orders for supplies needed by families in the area and decides on additional fund raising ideas to allow WISH to further help the women of Rockaway, Broad Channel and Breezy Point.

                Loretta began her duties at Rockaway WISH by organizing an event to support women who had children or husbands deployed overseas.  This event proved to be a success as conveyed through the women helped.  After seeing the satisfaction and reward in helping women in need, Mrs. Courtney began to take on more responsibility in the organization.

                Super storm Sandy proved to be both challenging and rewarding for Loretta via her work for WISH.  Although Mrs. Courtney was directly affected by the storm, she spent countless hours volunteering for the organization and offering cleaning supplies, clothing and household items to her fellow neighbors.  She continues to spear head events that will raise monies that can be put back into the community.

                Mrs. Courtney is married and has three young children.  She enjoys fashion, reading and outdoor activities as well as being a resident of her hometown, Rockaway Beach.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Jean Condon<br />
                <small>Rockaway WISH Treasurer</small>
            </h3>
            <p>
                Jean is a lifelong resident of Rockaway Beach, New York.  She has been a member of WISH for six years. As Treasurer, Mrs. Condon oversees the financial portion of the organization.  She organizes incoming and outgoing funds, facilitates annual fundraisers and spear heads additional fund raising events throughout the year to secure monies for WISH.

                When the opportunity arose for Mrs. Condon to become a member of WISH, she accepted immediately. Jean had witness the good work of other volunteer organizations in the neighborhood and was happy to donate her time to volunteer; especially to help women.  An event that Mrs. Condon enjoys most is the distribution of flowers to mother on Mother’s Day. These mothers all have a family member or members deployed overseas.  The response to the flower distribution is overwhelming to Jean.  The smiles, hugs and tears make donating her time to her community worth it.

                Super storm Sandy proved to be both challenging and rewarding for Jean via her work for WISH.  Mrs. Condon’s role as Treasurer became more difficult prior to the storm.  Donations and incoming membership fees increased greatly, creating additional work for WISH. Mrs. Condon took on the added responsibility gracefully. She increased her time spent on analyzing the organization’s finances and overseeing funds being given back to the community.  Jean continues to donate more time to WISH, overseeing all financial aspects of the organization.

                Mrs. Condon is married.  She enjoys spending time with her family, reading and outdoor activities as well as being a resident of her hometown, Rockaway Beach.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Meghan Anderson<br />
                <small>Rockaway WISH Director of Fundraising</small>
            </h3>
            <p>
                Meghan is a lifelong resident of Rockaway Beach, New York.  She was an original member of WISH upon it’s creation in 2006.  Meghan’s duties as Director of Fundraising include overseeing sales and promotions for the organization’s annual fundraising event.  Mrs. Anderson, in conjunction with the fundraising committee, decides on techniques that can increase donations to Rockaway WISH.

                Meghan joined Rockaway WISH because volunteerism is a cause she believes in.  She chose this particular organization because it concentrated on the women and children of Rockaway Beach.  Through WISH Mrs. Anderson is able to give back to the community which she grew up in and loves. Meghan knows that the residents of Rockaway Beach are proud, strong people. They pride themselves on helping one another.  Rockaway residents are proud of the work they do for each other.  WISH allows Meghan to help her community. It makes her proud to help her fellow neighbors.

                Super storm Sandy caused Meghan Anderson’s work for WISH to increase. She graciously took on added fundraising duties and promotional events.  Mrs. Anderson used this tragic event to increase funds donated to WISH which directly helps families in the area.

                Mrs. Anderson is married to a life-long Rockaway resident and resides in Rockaway Beach.  She is currently working towards her nursing degree.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Elizabeth Duffy<br />
                <small>Rockaway WISH Director of Fundraising</small>
            </h3>
            <p>
                Elizabeth is a lifelong resident of Rockaway Beach, New York.  She has been a member of WISH since 2006. As Director of Fundraising, Elizabeth is responsible for generating funds for WISH via reaching out to other organizations interested in helping the Rockaway community. She contacts local community organizations seeking aid for WISH and promotes participation in charitable events to further the development of Broad Channel, Rockaway, Roxbury and Breezy Point.

                When presented with the opportunity to become a WISH member and later a WISH board member, Elizabeth accepted graciously.  As a native Rockaway woman, Elizabeth felt it was important to give back to the community which she has held so dear throughout her life.  She finds it most rewarding to help families who are going through difficult times.  Offering even a small token to show sympathy returns great appreciation and that is important to Elizabeth. Ms. Duffy also enjoys watching the children of Rockaway happy and carefree at WISH events organized specifically for children.

                Ms. Duffy has become more of an integral part of WISH on the heels of Super storm Sandy.  WISH now has become even more influential in the community in regards to their events, members and donations due to the number of community members that need aid.  Fundraising is a crucial area for WISH, as the devastation in the Rockaways is infinite.  Elizabeth has accepted her new, more demanding role with pleasure. She offers all the time needed to secure funds for WISH so that they, in turn, can continue to give back to the community.

                Ms. Duffy is a professional who works with special needs children in the community.  She enjoys spending time with her family and outdoor activities as well as being a resident of her hometown, Rockaway Beach.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Tara Karalis<br />
                <small>Rockaway WISH Director of Secretary</small>
            </h3>
            <p>
                Tara is a lifelong resident of Rockaway Beach, New York.  She was an original member of WISH upon it’s creation in 2006.  Tara’s duties as Director of Secretary include overseeing correspondence incoming and outgoing of the organization, requesting donations for the group and compiling evidence of successful events held by WISH.  Mrs. Karalis plays an integral role in the planning and execution of all WISH events.

                Tara joined the organization to become more involved in the community which she holds so dear.  Mrs. Karalis knows that she is fortunate to be part of such a wonderful community and being a member of Rockaway WISH allows Tara to fulfill her desire to give back to the community that has always been helpful to her and her family in times of need.

                Super storm Sandy proved to be both challenging and rewarding for Tara via her work for WISH. Mrs. Karalis’ duties at WISH intensified after the storm. The amount of time Tara donated to WISH increased exponentially as requests for donations and correspondence increased. Although Mrs. Karalis was affected by the storm, she welcomed the increased need for her services at WISH.

                Mrs. Karalis is married and currently resides in Rockaway Beach.  She is a speech therapist for school-aged children.  Although Tara is busy with work and home life, she spends the majority of her time organizing and planning for Rockaway WISH.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Danielle Valk<br />
                <small>Rockaway WISH Secretary</small>
            </h3>
            <p>
                Danielle has been a resident of Rockaway Beach, New York for nearly thirty years.  She was an original member of WISH upon it’s creation in 2006.  Danielle’s duties as Secretary include taking minutes at monthly WISH board meetings where she highlights pertinent issues mentioned. Ms. Valk also aids in the execution of WISH events throughout the year.

                Danielle joined the organization to become more involved in her community.  She was familiar with organizations in Rockaway that helped the members of the community, but they were male dominated. To be a part of a female-run volunteer organization inspired Ms. Valk. Danielle was and is proud to be a part of an organization run by women that is driven specifically to help women and children.

                Super storm Sandy increased Danielle’s role in WISH.  Meetings became more frequent and the need to volunteer increased greatly.  Ms. Valk accepted her intensified role, volunteering and participating in WISH run events that helped the people of Rockaway Beach, Broad Channel, Roxbury and Breezy Point; areas greatly affected by the storm.

                Danielle Valk currently resides in Rockaway Beach.  She is an elementary school teacher in Brooklyn, New York as well as a tutor for local Rockaway children.  Although Danielle is busy with work and home life, she spends a major part of her time volunteering for Rockaway WISH.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Beth Hanning<br />
                <small>Rockaway WISH Director of Memberships</small>
            </h3>
            <p>
                Beth was born and raised in Rockaway Beach, New York.  She joined Rockaway WISH in 2008 after returning to Rockaway from a brief move to Indiana.  Beth’s duties as Director of Memberships include overseeing the organization’s social media division, fielding requests and implementing and executing daily operations for upcoming events.

                Beth joined the organization to give back to the community which had given so much to her family in years past.  Beth’s mother passed away at a very young age and Mrs. Hanning witnessed the compassion and determination of the Rockaway community.  When offered the opportunity to become a member of WISH, Beth immediately said yes. It was now her turn to give back to the community that had given her so much.  Mrs. Hanning started as simply a member of WISH but soon grew to be an integral part of the organization, offering her services wherever and however needed.

                Super storm Sandy increased Beth’s role in WISH. Although Mrs. Hanning was directly affected by the storm, she came to the aid of her fellow neighbors. Beth worked countless hours distributing clothing, food and cleaning supplies to residents of Rockaway, Broad Channel, Roxbury and Breezy Point.  She increased her monitoring of the organization’s social media, as requests were often transmitted via Facebook or Twitter.  Beth selflessly made helping the residents of her community a priority even when faced with her own crisis.  Beth Hanning currently resides in Rockaway Beach.  She is a wife, mother and a high school English teacher.   Beth is busy between her family life and work yet she is dedicated Rockaway WISH and continues to volunteer to ensure the needs of her fellow Rockawayites are met.
            </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>
                Colleen Brady<br />
                <small>Rockaway WISH Director of Memberships</small>
            </h3>
            <p>
                Colleen is a lifelong resident of Rockaway Beach, New York.  She joined Rockaway WISH in 2009 after a friend convinced her to attend the organization’s monthly meeting.  Colleen’s duties as Director of Memberships include recording current members and their dues, adding new members to an updated email distribution list and maintaining current information on all WISH members.  Mrs. Brady also responds to email requests sent to WISH, which include a large umbrella of items from information about the organization to requests for aid from WISH.

                Colleen joined the organization to become more involved in her community.  After her father passed away, Mrs. Brady realized that life is finite. She was determined to learn and grow from her tragic experience. Colleen became an integral component of WISH; enjoying the satisfaction of seeing the reaction of those aided by the organization. Mrs. Brady realizes that touching the small communities of Rockaway, Broad Channel, Roxbury and Breezy Point offers many rewards.

                Super storm Sandy increased Colleen’s role in WISH.  WISH received unprecedented media attention due to their efforts post-Sandy.  New memberships increased exponentially.  Mrs. Brady donated countless hours to the organization, ensuring that emails and membership contact information were current. She continued to respond to email requests in a timely manner, as to offer relief for those reaching out to WISH in a terrible time of need.

                Colleen Brady currently resides in Rockaway Beach.  She is a wife, mother and real estate agent.  Although Colleen is busy being a mother and professional in the community, she is dedicated Rockaway WISH and spends countless hours maintaining their web based requests.
            </p>
        </div>*@
    </div>

    <hr>


</div>
<!-- /.container -->
