
<section id="board-members">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Meet The Board</h2>
                @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>*@
            </div>
        </div>
        <div id="team-carousel" class="carousel slide" data-interval="false">
            <a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <div class="carousel-inner team-members">
                <div class="row item active">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            @*<img src="images/our-team/member1.jpg" alt="team member" />*@
                            <h4>Kelli Donohue Tirado</h4>
                            <h5>President and Founder</h5>
                            <p>Kelli a lifelong resident of Rockaway Beach, New York.  She founded Rockaway WISH in November of 2006.  Kelli’s duties as President of WISH include overseeing day-to-day operations of the organization and approving all incoming correspondence from outside charities wishing to help the Rockaways.  Mrs. Tirado also oversees the recruitment of new members seeking to join WISH and their mission to help others.</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            @*<img src="images/our-team/member2.jpg" alt="team member" />*@
                            <h4>Loretta Courtney</h4>
                            <h5>Vice President</h5>
                            <p>Loretta is a lifelong resident of Rockaway Beach, New York.  She was an original member of WISH upon it’s creation in 2006.  Loretta’s duties as Vice President include organizing events run by WISH such as WISH Rocks, an annual Century Club fete and a yearly Holiday Party for the children of the area.  @*Mrs. Courtney schedules and oversees monthly meetings for WISH where the organization determines upcoming events, places orders for supplies needed by families in the area and decides on additional fund raising ideas to allow WISH to further help the women of Rockaway, Broad Channel and Breezy Point.*@</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            @*<img src="images/our-team/member3.jpg" alt="team member" />*@
                            <h4>Jean Condon</h4>
                            <h5>Treasurer</h5>
                            <p>Jean is a lifelong resident of Rockaway Beach, New York.  She has been a member of WISH for six years. As Treasurer, Mrs. Condon oversees the financial portion of the organization.  She organizes incoming and outgoing funds, facilitates annual fundraisers and spear heads additional fund raising events throughout the year to secure monies for WISH.  </p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            @*<img src="images/our-team/member4.jpg" alt="team member" />*@
                            <h4>Colleen Brady</h4>
                            <h5>Director of Memberships</h5>
                            <p>Colleen is a lifelong resident of Rockaway Beach, New York.  She joined Rockaway WISH in 2009 after a friend convinced her to attend the organization’s monthly meeting.  Colleen’s duties as Director of Memberships include recording current members and their dues, adding new members to an updated email distribution list and maintaining current information on all WISH members.  @*Mrs. Brady also responds to email requests sent to WISH, which include a large umbrella of items from information about the organization to requests for aid from WISH.*@</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row item">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="images/our-team/member1.jpg" alt="team member" />
                            <h4>William Hurt</h4>
                            <h5>Sr. Web Developer</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="images/our-team/member3.jpg" alt="team member" />
                            <h4>Paul Johnson</h4>
                            <h5>Skilled Programmer</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="images/our-team/member2.jpg" alt="team member" />
                            <h4>Alekjandra Jony</h4>
                            <h5>Creative Designer</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="images/our-team/member4.jpg" alt="team member" />
                            <h4>John Richerds</h4>
                            <h5>Marketing Officer</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
                            <div class="socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>