.site-pink {
    background-color: hotpink !important;
}

.button-donate {
    background-color: deeppink !important;
    color: white !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hotpink !important;
    color: #000;
    text-align: center;
    padding-top: 10px;
}
.page-header {
    line-height: 1.0;
    font-size: 22px;
    background-image: url('/Content/images/pink-star.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    vertical-align: text-top;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed hotpink;
    padding-bottom: 10px;
}
.page-list-item {
    line-height: 1.0;
    background-image: url('/Content/images/pink-star.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    vertical-align: text-top;
    margin-bottom: 20px;
    border-bottom: 1px dotted hotpink;
    padding-bottom: 10px;
}


.social-icon {
    width: 100px !important;
    height: 100px;
}

