.site-pink {
    background-color: hotpink !important;
}

.button-donate {
    background-color: deeppink !important;
    color: white !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hotpink !important;
    color: #000;
    text-align: center;
    padding-top: 10px;
    /*border-top: 1px solid #000;*/
}
