<rules>
  <clear />
  <!-- http to https redirect -->
  <rule name="HTTP to HTTPS" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
  </rule>

  <!-- www to non-www redirect -->
  <rule name="Redirect to rockawawish.org" stopProcessing="true">
    <match url=".*" />
    <conditions logicalGrouping="MatchAny">
      <add input="{HTTP_HOST}" pattern="^www.rockawaywish.org$" />
    </conditions>
    <action type="Redirect" url="https://rockawaywish.org/{R:0}" redirectType="Permanent" />
  </rule>
</rules>
