<section id="Error">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">An error occured</h2>
            </div>
        </div>
    </div>
</section><!--/#Our-Team-->
