<appSettings>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


  <add key="Interactive-Membership-ApiKey" value="7f9b603a-a2ac-4373-a069-c0d20c29843a" />
  <add key="Interactive-Membership-AppId" value="13A6F14D-7B2B-4266-AB7D-A11DF2AFEB07" />
  <add key="Interactive-Membership-Endpoint" value="https://interactivemembership.tiradointeractive.com" />
  <!-- real admin key -->
  <!--<add key="Interactive-Membership-AdminKey" value="4183CD09-7072-4453-B0EC-1092130A3760" />-->

  <add key="Membership-Admin-Url" value="https://rockawaywishadmin.tiradointeractive.com" />
  <add key="Membership-Admin-Email" value="richie@tiradointeractive.com" />
  <add key="Membership-Admin-Name" value="Richard Tirado" />

  <add key="Membership-Audit-Email" value="richie@tiradointeractive.com;kdonohue@rockawaywish.org" />
  <add key="Membership-Audit-Name" value="WISH of Rockaway Membership Audit" />

  <add key="SMTP-Host" value="smtp.gmail.com" />
  <add key="SMTP-UserName" value="info@rockawaywish.org" />
  <add key="SMTP-Password" value="Rockaway1*" />
  <add key="SMTP-Port" value="587" />
  <add key="SMTP-FromAddress" value="info@rockawaywish.org" />
  <add key="SMTP-FromName" value="WISH of Rockaway" />
  <add key="SMTP-EnableSSL" value="true" />
  <add key="SMTP-UseDefaultCredentials" value="false" />

  <add key="ResetPassword-Endpoint" value="https://rockawaywish.org/resetpassword" />
  <add key="ResetPassword-Subject" value="Forgot your password at rockawaywish.org?" />

  <add key="ContactUs-Url" value="https://rockawaywish.org/contact-wish" />
  <add key="ContactUs-Email" value="info@rockawaywish.org;kdonohue@rockawaywish.org;richie@tiradointeractive.com" />


  <add key="PayPal-Donate-Button-Id" value="TPYZYJWF4DDJW" />
  <add key="Donation-PaymentId" value="02772dae-371e-40e8-b8fc-afed0cde9c24" />

  <add key="Instagram-Access-Token" value="962927527.1677ed0.bb19ee0f9910468b83e40b68071c3a48" />

</appSettings>
