<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="FacebookAppID" value="129782760744533" />
  <add key="FacebookAppSecret" value="7478ae4b54f463419524ae873ff26ac4" />
</appSettings>